*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
@font-face {font-family: 'iconfont';
    src: url('../img/font/iconfont.eot'); 
    src: url('../img/font/iconfont.eot') format('embedded-opentype'),
    url('../img/font/iconfont.woff') format('woff'),
    url('../img/font/iconfont.ttf') format('truetype'),
    url('../img/font/iconfont.svg#iconfont') format('svg');
}
body{
    font-family: "微软雅黑";
    color: #14191e;
}
.main{
    position: relative;
    width: 1120px;
    height: 460px;
    margin: 30px auto;
    overflow: hidden;
}
.slider{
    position: relative;
    width: 1120px;
    height: 460px;
}
.img{
    position: absolute;
    width: 1120px;
    height: 460px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: none;
}
.img1{
    background-image: url(img/bg1.jpg);
}
.img2{
    background-image: url(img/bg2.jpg);
}
.img3{
    background-image: url(img/bg3.jpg);
}
.img-active{
    display: block;
}
.button{
    position: absolute;
    width: 40px;
    height: 80px;
    left: 244px;
    top: 50%;
    margin-top: -40px;
    background:url(img/arrow.png) no-repeat center center ;
}
.button:hover{
    background-color: #333;
    opacity: 0.3;
    filter: alpha(opacity=80);/*是为了解决兼容问题，属于css3的filter属性*/
}
.right{
    left: auto;
    right: 0;
}
.left{
    transform: rotate(180deg);
}
.circle{
    position: absolute;
    right: 20px;
    bottom: 24px;
}
.circle span{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(7, 17, 27, 0.4);
    margin-left: 8px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    cursor: pointer;
}
.circle span.active{
    background-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
}
.menu-box{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 244px;
    height: 460px;
    background-color: rgba(7, 17, 27, 0.3);
}
.menu-title{
    position: relative;
    padding: 0 8px;
    margin: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 64px;
    line-height: 66px;
}
.menu-title a{
    text-decoration: none;
    color: #5e5e5e;
    font-size: 16px;
    color: #ffffff;
}
.menu-title .ico{
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
   font-family: "iconfont";
}
