*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-family: "微软雅黑";
    color: #14191e;
}
.main{
    width: 1120px;
    height: 480px;
    margin: 30px auto 0;
    background-color: black;
}
.slider{
    width: 1120px;
    height: 480px;

}